<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.UmsAdminMapper">

    <resultMap type="com.macro.mall.entity.UmsAdmin" id="UmsAdminMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="note" column="note" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>


<!--    List<UmsPermission> getPermissionList(Long id);-->
<!--    <select id="getPermissionList" resultMap="com.macro.mall.mapper.UmsPermissionMapper.UmsPermissionMap" >-->
    <select id="getPermissionList" resultType="com.macro.mall.entity.UmsPermission" >
            select d.* from ums_admin_role_relation a
                                 left join ums_role b on a.role_id = b.id
                                 left join ums_role_permission_relation c on b.id = c.role_id
                                 left join ums_permission d on c.permission_id = d.id
                where a.admin_id = #{id}
                and d.id is not null
                and d.id not in(
                  SELECT
                    b.id
                FROM
                    ums_admin_permission_relation a
                    LEFT JOIN ums_permission b ON a.permission_id = b.id
                WHERE
                    a.type = - 1
                    AND a.admin_id = #{id}
                )
        union
            select b.* from ums_admin_permission_relation a
                            left join ums_permission b on a.permission_id = b.id
                where
                    a.type = 1
                    and a.admin_id = #{id}

    </select>
</mapper>